<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Development</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div>
        <h1> Hello Priyanka</h1>
    </div>
   <h3><%= age %></h3>
   <script src="/javascripts/script.js"></script>
</body>
</html>